.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  background-color: rgba(21, 83, 199, 0.479);
  border-radius: 10px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}

.login-container form label {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: white;
  font-size: large;
}

.login-container form button {
  margin-top: 20px;
  background-color: #00e1ff5b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  cursor: pointer;
}