.notFoundContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.notFoundContainer h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}
